*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

.imagem_logo {
    margin-left: 20px;
    display: inline;
    align-items: center;
    height: 100px;
    width: 110px;
}


.cabecalho_comeco{
   
    background-color: rgb(8, 70, 92);
}

.nav_cabecalho{
    border-top: 1.5px solid rgb(255, 255, 255);
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    display: flex;
    background-color: #287D9C;
}

.a_cabecalho{
    font-size: 18px;
    color: white;
}

.a_cabecalho:hover{
    background-color: #3a5964;
}

.conteudo{
    padding-bottom: 2%;
    width: 100%;
    height: 100%;
}

.sec_primario{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.div_container{
    display: flex;
    height: 100%;
    width: 100%;
}

.conteudo_text{
    width: 100%;
    height: 100%;
    padding: 5%;
    flex-direction: column;
    display: flex;
}

.conteudo_imagem{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.titulo{
    text-align: center;
}

.sub_titulo{
    text-align: center;
    padding: 8px;
}

.paragrafo_um{
    text-align: justify;
}

.imagem_dois{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;  
}

.div_container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
    
}

.div_loc{
    border: 1.8px solid black;
    height: 100%;
    width: 10%;
}

.div_loc2{
    border: 1.8px solid black;
    height: 100%;
    width: 11.5%;
}

.div_loc3{
    border: 1.8px solid black;
    height: 100%;
    width: 10%;
}

.div_loc4{
    border: 1.8px solid black;
    height: 100%;
    width: 10%;
}

.revenda1{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.imagem_loc1{
  
    justify-content: center;
    flex-direction: column;
}

.revenda2{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.imagem_loc2{
    justify-content: center;
    flex-direction: column;
}

.revenda3{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.imagem_loc3{
    justify-content: center;
    flex-direction: column;
}

.revenda4{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.imagem_loc4{
    justify-content: center;
    flex-direction: column;
}

.text_loc1{
    text-align: center;
    align-items: center;
}

.text_loc2{
    text-align: center;
    align-items: center;
}

.div_extra{
    padding-top: 3%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.extra1{
    height: 100%;
    width: 20%;
    text-align: left;
}

.extra2{
    height: 100%;
    width: 20%;
    text-align: left;
}

.extra3{
    height: 100%;
    width: 20%;
    text-align: left;
}

.extra4{
    height: 100%;
    width: 20%;
    text-align: left;
}

.extra1 h3{
    padding-bottom: 6%;
}

.extra2 h3{
    padding-bottom: 6%;
}

.extra3 h3{
    padding-bottom: 6%;
}

.extra4 h3{
    padding-bottom: 6%;
}
.extra1 p{
    padding-bottom: 18px;
}

.button1{
    font-size: 20px;
    font-weight: 400;
    font-family:'Sarala', sans-serif;
    align-items: center;
    height: 30px;
    width: 150px;
    background-color:#287D9C;
    border:none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25); 
}

.button1 a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape{
    background-color: rgb(8, 70, 92);
}

.div_container3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.div_text1{
    width: 14%;
    height: 100%;
    text-align: center;
}

.div_text2{
    width: 20%;
    height: 100%;
    text-align: center;
}

.div_text3{
    text-decoration: none;
    width: 14%;
    height: 100%;
    text-align: center;
    padding-top: 1%;
}

.div_rodape1{
    display: flex;
    align-items: center;
}

.img_rodape1{
    display: flex;
}

.div_rodape2{
    display: flex;
    align-items: center;
}

.img_rodape2{
    display: flex;
}

.div_rodape3{

    display: flex;
    align-items: center;
}

.img_rodape3{
    display: flex;
}

.div_rodape4{
    display: flex;
    align-items: center;
}

.img_rodape4{
    display: flex;
}

.img_email{
    width: 24%
}

.imagem_rodape{
    display: block;
    align-items: center;
    height: 100%;
    width: 100px ;
}

.div_text3 p a{
    padding-top: 2%;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
}

.div_text3 p a:hover{
    background-color: #3a5964;
}














